/* HTML-Tags */
html {
    background-color: #CCCCFF;
}

body {
  font-family:calibri;  
}

p {
    
}

h1 {
    
}

h2 {
    
}

header {
    font-size: 14pt;
    text-align:right;
}

nav {
    font-size: 30pt;
}
    
aside {
    font-size: 30pt;
    border:3pt solid;
}

article {
    font-size: 20pt;
    border:3pt solid;
}

section {
    font-size: 12pt;
}

footer {
    font-size: 8pt;
    text-align: right;
} 





/* Sonstige-Tags */
.picture2 {
    border:3pt solid red; 
    height:20%;
    width:100%;
}