html {
  background-color: navy;  
}

h1 {
  font-family:calibri;
  font-size: 30pt;
  font-weight:bold;
}

/* login */

.login {
widht:100%;
border:3pt solid black; 
align:center;
text-align:center;
padding:20pt;
position: absolute;
top:3%;
left:22%;
background-color: #CCCCFF;
}

.login p{
    font-size:20pt;
    font-family:calibri;
    
}



/* homepage */
.navbar1 {     
border:3pt solid black;
}
ul.navbar1 {
    list-style-type:none;
}
ul.navbar1 li {
    display: inline;
}


.picture {
 border:3pt solid black;   
}

.picture2 {
 border:3pt solid black; 
 width: 80%; 
 height: 50%;
}

.navbar2 {    
    border:3pt solid black;
    align:left;
    width:100pt;
}

.main {
   border:3pt solid black; 
   position:relative;
   left:200pt;
   height:200px;
}

.foot {
   border:3pt solid black; 
}